<div id="<%= dom_id employee %>">
  <div>
    <% if employee.avatar.attached? %>
      <%= image_tag employee.avatar, alt: "Avatar image", style:"width: 90px" %>
    <% end %>
  </div>
  <p>
    <strong><%= employee.name %></strong>
  </p>

  <p>
    <%= employee.department.name %>
  </p>

  <p>
    <%= employee.nationality %>
  </p>
  
  <p>
    <%= employee.position %>
  </p>

  <p>
    <% if employee.birth_date %>
      <%= ((Time.zone.now - employee.birth_date.to_time)/1.year.seconds).floor %> years
    <% else %>
      Unknown age
    <% end %>
  </p>

  <%= link_to  "Edit", edit_employee_path(employee) %>
  <%= button_to "Destroy", employee, method: :delete %>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= employee.role %>
  </p>

  <p>
    <div>
    <strong>Manager:</strong>
    <% if employee.manager %>
      <%= render "employees/employee_card", employee: employee.manager %>
    <% else %>
      No manager
    <% end %>
    </div>
    <div>
    <strong>Reports:</strong>
    <% employee.reports.each do |report| %>
      <%= render "employees/employee_card", employee: report %>
    <% end %>
    <% employee.reports.empty? ? "No reports" : "" %>
    </div>
  </p>

  <h3>Feedbacks</h3>
  <%= render "feedbacks/form", { feedback: Feedback.new, feedbackable: employee} %>
  <div>
    <% employee.receive_feedbacks.each do |feedback| %>
      <p>By <%= feedback.employee.name %></p>
      <p><%= feedback.body %></p>
      <p>Created <%= ((Time.zone.now - feedback.created_at.to_time)/1.hour.seconds).floor %> hours ago</p>
    <% end %>
  </div>
</div>
