<div id="<%= dom_id employee %>">
  <p>
    <strong>Name:</strong>
    <%= employee.name %>
  </p>

  <p>
    <strong>Nationality:</strong>
    <%= employee.nationality %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= employee.email %>
  </p>

  <p>
    <strong>Position:</strong>
    <%= employee.position %>
  </p>

  <p>
    <strong>Birth date:</strong>
    <%= employee.birth_date %>
  </p>

  <p>
    <strong>Role:</strong>
    <%= employee.role %>
  </p>

  <p>
    <strong>Department:</strong>
    <%= employee.department_id %>
  </p>

  <p>
    <strong>Manager:</strong>
    <%= employee.manager_id %>
  </p>

</div>
