<div id="<%= dom_id department %>">
  <% if department.cover.attached? %>
  <div>
    <%= image_tag department.cover, alt:"Department cover", style: "width: 600px" %>
  </div>
  <% end %>

  <p>
    <strong><%= department.name %></strong>    
  </p>

  <p>
    <%= department.employees_count %> employees
  </p>

  <div>
    <%= link_to "Show", department %>
    <% if policy(Department).update? %>
      <%= link_to  "Edit", edit_department_path(department) %>
    <% end %>
    <% if policy(Department).destroy? %>
      <%= button_to  "Destroy", department, method: :delete %>
    <% end %>
  </div>

</div>
