<p style="color: green"><%= notice %></p>

<div>
  <% if @department.cover.attached? %>
  <div>
    <%= image_tag @department.cover, alt:"Department cover" %>
  </div>
  <% end %>
  
  <p>
    <strong>Name:</strong>
    <%= @department.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @department.description %>
  </p>

  <p>
    <%= link_to "New employee", new_employee_path %>
  </p>
</div>

<div>
  <%= link_to "Edit this department", edit_department_path(@department) %> |
  <%= link_to "Back to departments", departments_path %>

  <%= button_to "Destroy this department", @department, method: :delete %>
</div>
<div>
  <%= @department.employees.each do |employee| %>
    <% if employee.avatar.attached? %>
      <div>
        <%= image_tag employee.avatar, alt:"Employee avatar", style: "width: 80px" %>
      </div>
    <% end %>
    <p><%= employee.name %></p>
    <p><%= employee.position %></p>
    <%= link_to "Edit", edit_employee_path(employee) %>
    <%= link_to "Delete", employee_path(employee), data: { turbo_method: :delete, confirm: "Are you sure?" } %>
  <% end %>
</div>