<p style="color: green"><%= notice %></p>

<div>
  <p>
    <strong><%= @department.name %></strong>
  </p>

  <p>
    <%= @department.description %>
  </p>

  <p>
    <%= link_to "New employee", new_employee_path %>
  </p>
</div>

<div>
  <% if @department.employees.empty? %>
    <p>No employees yet</p>
  <% end %> 
</div>

<div>
  <%= link_to "Edit this department", edit_department_path(@department) %> |
  <%= link_to "Back to departments", departments_path %>

  <%= button_to "Destroy this department", @department, method: :delete %>
</div>
<div>
  <%= @department.employees.each do |employee| %>
    <%= render  "employees/employee_card", employee: employee %>
  <% end %>
</div>