<div id="<%= dom_id feedback %>">
  <p>
    <strong>Body:</strong>
    <%= feedback.body %>
  </p>

  <p>
    <strong>Employee:</strong>
    <%= feedback.employee_id %>
  </p>

  <p>
    <strong>Feedbackable ID:</strong>
    <%= feedback.feedbackable_id %>
  </p>

  <p>
    <strong>Feedbackable type:</strong>
    <%= feedback.feedbackable_type %>
  </p>

</div>
