<%= form_with(model: [feedbackable, feedback]) do |form| %>
  <% if feedback.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
        <% feedback.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.text_field :feedbackable_id, hidden: true%>
  </div>

  <div>
    <%= form.text_field :feedbackable_type, hidden:true %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
