<!DOCTYPE html>
<html>
  <head>
    <title>Offix</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'office_icon2.png' %>
  </head>

  <body>
  <header>
    <%= link_to root_path do %>
      <h2>OFFIX</h2>
    <% end %>

    <% if employee_signed_in? %>
    Welcome <%= current_employee.name %>
    <%= link_to "Log out", destroy_employee_session_path, data: { turbo_method: :delete } %>
    <% end %>
    
  </header>
    <hr>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    <hr>
  <footer>
    Codeable cohort 11 - 2023
  </footer>
  </body>
</html>
